# Ignore everything except what we want.
/*
/*/

# Git files
!.gitignore
!.gitattributes
!README.md

# Kept files and directories
!/ProjectSettings/            # Project Settings
!/Assets/                     # Assets folder
!/Assets/Scripts/	      # Scripts folder
!/Assets/Scripts/JavaScript/  # Scripts folder
!/Assets/Scripts/JoeCS/	      # Scripts folder
!/Screenshots/                # Screenshots folder
