# Ignore everything except what we want.
/*
/*/

# Git files
!../.gitignore
!.gitattributes
!../.README.md

# Ignore These Folders
/[Ll]ibrary/
/[Oo]bj/
/[Ss]criptAssemblies/
/[Tt]emp/

# Ignore These Files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb

# Kept files and directories
!/ProjectSettings/            # Project Settings
!/Assets/                     # Assets folder
!/Assets/Scripts/	      # Scripts folder
!/Assets/Scripts/JavaScript/  # Scripts folder
!/Assets/Scripts/JoeCS/	      # Scripts folder
!/Screenshots/                # Screenshots folder
